*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

body {
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif, serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  color: #757575;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  body {
    font-weight: 500;
    letter-spacing: 0.28px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.form-botton, .solution-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.96px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-botton:hover, .solution-button:hover, .form-botton:focus, .solution-button:focus {
  background-color: #188ce8;
}

.mobile-btn-close, .label-checkbox, .modal-btn-close, .footer-link-link, .team-links-link, .team-links, .affair-text, .peculiarities-block, .mobile-btn-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project, .footer, .clients, .team, .affair, .peculiarities {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .project, .footer, .clients, .team, .affair, .peculiarities {
    padding: 94px 0;
  }
}

.contacts, .nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts, .nav {
    display: block;
  }
}

.logo, .logo--darkColor, .logo--blueColor, .logo--whiteColor {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .logo, .logo--darkColor, .logo--blueColor, .logo--whiteColor {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}

.logo--padding {
  padding: 16px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo--padding {
    padding: 26px 0 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo--padding {
    padding: 24px 0 24px 0;
  }
}

.logo--whiteColor {
  color: #ffffff;
}

.logo--blueColor {
  color: #2196f3;
}

.logo--darkColor {
  color: #000000;
}

.mobile-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    background-color: inherit;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Mobile Button Open */
.mobile-btn-open {
  padding: 0;
  border: 0;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .mobile-btn-open {
    display: none;
  }
}

.mobile-icon__open {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-btn-open:hover .mobile-icon__open, .mobile-btn-open:focus .mobile-icon__open {
  fill: #2196f3;
}

/* Navigation */
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav-item {
  position: relative;
}

.nav-link {
  padding: 32px 0;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav-link.main-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

/* Contacts */
.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}

.contacts-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts-connection {
    gap: 10px;
    padding: 32px 0;
  }
}
.contacts-connection:hover, .contacts-connection:focus {
  color: #2196f3;
}

.contacts-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item:hover .contacts-icon, .contacts-item:focus .contacts-icon {
  fill: #2196f3;
}

.main-page {
  color: #2196f3;
}

.solution {
  max-width: 1600px;
  padding: 118px 0;
  margin: 0 auto;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../images/background/bg-480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/background/bg-480.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../images/background/bg-480@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/background/bg-480@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/background/bg-768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/background/bg-768.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../images/background/bg-768@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/background/bg-768@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/background/bg-1200.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/background/bg-1200.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../images/background/bg-1200@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/background/bg-1200@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .solution {
    padding: 200px 0;
  }
}

.solution-title {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 1.56px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .solution-title {
    width: 696px;
    margin-bottom: 30px;
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 1.3636363636;
  }
}

.solution-button {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .solution-button {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.peculiarities-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .peculiarities-item:not(:last-child) {
    width: 270px;
  }
}

.peculiarities-block {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.peculiarities-title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  color: #212121;
}

.peculiarities-text {
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.42px;
}

.affair {
  display: none;
}
@media screen and (min-width: 1200px) {
  .affair {
    display: block;
  }
}

.affair-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: #212121;
}

.affair-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.affair-item {
  position: relative;
}

.affair-img {
  width: 370px;
}

.affair-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}

.team-item:not(:last-child) {
  margin-bottom: 30px;
}

.team-container {
  padding: 30px 0 24px 0;
}
@media screen and (min-width: 1200px) {
  .team-container {
    padding: 30px 0;
  }
}

.team-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: #212121;
}

.team-text {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 0.48px;
}

.team-links {
  gap: 10px;
  margin-top: 16px;
}

.team-links-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #757575;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-links-link:hover, .team-links-link:focus {
  background-color: #2196f3;
}

.team-links-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-links-link:hover .team-links-icon, .team-links-link:focus .team-links-icon {
  fill: #ffffff;
}

.clients {
  background-color: #ffffff;
}

.clients-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
    height: 92px;
  }
}

.clients-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: #2196f3;
}

.footer {
  background: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Contact-container */
@media screen and (max-width: 767px) {
  .footer-contact-container {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact-container {
    width: 231px;
    margin-right: 70px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-address-list {
    gap: 9px;
  }
}

.footer-link {
  line-height: 1.7142857143;
  letter-spacing: 0.42px;
  color: #ffffff;
}

.footer-address-contact {
  line-height: 1.7142857143;
  letter-spacing: 0.42px;
  color: rgba(255, 255, 255, 0.6);
}

/* Footer-social-container */
@media screen and (max-width: 767px) {
  .footer-social-container {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-container {
    margin-right: 93px;
  }
}

.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .footer-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-link-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-link:hover, .footer-link-link:focus {
  background-color: #2196f3;
}

.footer-link-icon {
  fill: #ffffff;
}

/* Footer-newsletter */
.footer-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer-newsletter-text {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer-newsletter-text {
    text-align: center;
  }
}

.footer-newsletter-input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: inherit;
}
@media screen and (min-width: 1200px) {
  .footer-newsletter-input {
    width: 358px;
    margin-right: 8px;
    margin-bottom: 0;
  }
}

.footer-newsletter-input::-webkit-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter-input::-moz-placeholder {
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter-input:-ms-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter-input::-ms-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter-input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 200px;
  padding: 10px 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.footer-newsletter-button:hover, .footer-newsletter-button:focus {
  background-color: #188ce8;
}

/* btn */
@media screen and (min-width: 1200px) {
  .project-btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .project-btn-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.project-btn-item:last-child {
  margin-bottom: 0;
}

.project-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: inherit;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-btn:hover, .project-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.project-btn.padding-btn {
  padding: 6px 25px;
}

.project-theme {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .project-theme-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.project-theme-item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-theme-item:hover, .project-theme-item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-theme-item:not(:last-child) {
  margin-bottom: 30px;
}

.project-overflow {
  position: relative;
  overflow: hidden;
}

.project-overflow-text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.54px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-theme-item:hover .project-overflow-text, .project-theme-item:focus .project-overflow-text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.project-theme-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: #ffffff;
}

.project-theme-site {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.project-theme-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.view {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}
.modal.is-hidden .view {
  -webkit-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: inherit;
  cursor: pointer;
}

.btn-close-icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover .btn-close-icon, .modal-btn-close:focus .btn-close-icon {
  fill: #2196f3;
}

.form-container {
  width: 448px;
}

.form {
  width: 100%;
  height: 100%;
  padding: 32px 31px 32px 33px;
}

.form-text {
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: getcolor(black-color);
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-field:nth-child(5n) {
  margin-bottom: 20px;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}
.form-input:focus {
  border-color: #2196f3;
}

.form-field-name {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
}
.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.form-input.comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.label-checkbox {
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.42px;
}

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check-box {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url(../../images/svg/nochecked.svg);
}
.form-checkbox:checked + .check-box {
  background-image: url(../../images/svg/checked.svg);
}

.form-link {
  color: #2196f3;
  text-decoration: underline;
}

.form-botton {
  width: 200px;
}

.mobile-modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.mobile-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: 0;
}

.mobile-icon__close {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-btn-close:hover .mobile-icon__close, .mobile-btn-close:focus .mobile-icon__close {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile-container {
    width: 100%;
    height: 100%;
    padding: 48px 40px;
  }
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
  height: 90%;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-nav-link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #2196f3;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-contacts-tel {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
  color: #2196f3;
}

.mobile-contacts-email {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: #757575;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-socials-list:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials-link {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.36px;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */