@import "../../utils/colors";

.clients {
@extend %section;

  background-color: getColor("white-color");
}

.clients-title {
  text-align: center;
  margin-bottom: 30px;

  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;

  color: getColor("black-color");

  @media screen and (min-width:1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

.clients-list {
display: flex;
flex-wrap: wrap;
gap: 30px;

}


.clients-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 92px;

  border-radius: 4px;

  border: 1px solid getColor("icon-color");
  color: getColor("icon-color");

  transition: border-color 250ms $timingFunction;

  &:hover,
  &:focus {
    border-color: getColor("accent-color");
  }

  @media screen and (min-width:1200px) {
    width: 170px;
    height: 92px;
  }
}

.clients-icon {
  fill: getColor("icon-color");

  transition: fill 250ms $timingFunction;

  .clients-link:hover &,
  .clients-link:focus & {
    fill: getColor("accent-color");
  }
}
