@import "../../utils/colors";

.solution {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;

  background-color: getColor("background-color");
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/background/bg.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

.solution-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;

  font-size: 44px;
  font-weight: 900;
  letter-spacing: 2.64px;
  line-height: calc(60 / 44);

  color: getColor("white-color");
}

.solution-button {
  @extend %button;
  padding: 10px 32px;
}
