@import "../../utils/colors";

.footer {
  @extend %section;

  background: getColor("background-color");
}

.footer-container {
  @media screen and (min-width:1200px) {
    display: flex;
  }
}

.tablet-container{
  @media screen and (min-width:768px) and (max-width:1199px) {
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 60px;
  }
}

/* Contact-container */

@import "./contact";

/* Footer-social-container */

@import "./social";

/* Footer-newsletter */

@import "./newsLetter";
