@import "../../utils/colors";

.footer-social-container {
  @media screen and (max-width:767px) {
    margin-bottom: 60px;
    
       text-align: center;
      }

  @media screen and (min-width:1200px) {
    margin-right: 93px;
  }
}

.footer-social-title {
  margin-bottom: 20px;

  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  color: getColor("white-color");
}

.footer-links {
  display: flex;
  gap: 10px;

  @media screen and (max-width:767px) {
    justify-content: center;
  }
}

.footer-link-item {
}

.footer-link-link {
  @extend %flexCenter;
  //   display: inline-flex;
  //   justify-content: center;
  //   align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms $timingFunction;

  &:hover,
  &:focus {
    background-color: getColor("accent-color");
  }
}

.footer-link-icon {
  fill: getColor("white-color");
}
