@import "../../utils/colors";

.footer-social-container {
  @media screen and (max-width:767px) {
    margin-bottom: 60px;
    
       text-align: center;
      }
}

.footer-social-title {
  margin-bottom: 20px;

  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  color: getColor("white-color");

  @media screen and (min-width:480px) and (max-width:1199px) {
    text-align: center;
  }
}

.footer-links {
  display: flex;
  gap: 10px;

  @media screen and (max-width:767px) {
    justify-content: center;
  }
}

.footer-link-link {
  @extend %flexCenter;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms $timingFunction;

  &:hover,
  &:focus {
    background-color: getColor("accent-color");
  }
}

.footer-link-icon {
  fill: getColor("white-color");
}
